/* == 1. SMALLEST SCREENS, 2. SMALL TABLET SCREENS, AND SMALL SCREENS LIKE IPAD PRO */
/* @media screen and (max-width: 1024px){ */

/* 2. PHONE */
@media screen and (max-width: 1024px){
    *{
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }   

    html{
        font-size: 85%; /* change for different device sizes */
    }
    body{
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    
    /* ZYZICS Reusable Grid Columns */
    .c1-xs, .c2-xs, .c3-xs, .c4-xs{
        display: grid;
    }    
    .c1-xs{ grid-template-columns: repeat(1, 1fr); }
    .c2-xs{ grid-template-columns: repeat(2, 1fr); }
    .c3-xs{ grid-template-columns: repeat(3, 1fr); }
    .c4-xs{ grid-template-columns: repeat(4, 1fr); }
    
    /* Sections */
    #whoweare, #ourbusiness, #ourcorevalues, #ourteam, #missionvision, #about_people, .num_text, #about_missionceo, .tab-container, .exceptional-customer, 
    .footer{
        max-width: 100%;
        padding: 24px !important;
        margin: 0;
    }

    /* Section Titles */
    #whoweare h2, #ourbusiness h2, #ourteam h2, #ourcorevalues h2, #ourcorepurpose h2, #missionvision h2, h2.missionvision, 
        #about_people h2, #about_missionceo h2, .ceo-div h2, .exceptional-customer h2{
        max-width: 100%;
        font-size: 24px;
        margin-block: 34px 16px;
    }

    /*** NEW *** WHO WE ARE */
    #whoweare{
        max-width: 100%;
        margin-top: 2rem !important;
        padding-top: 4rem !important;
    }
    #whoweare .left-left, #whoweare .left-right, #whoweare .small{
        width: 100%;
        gap: 0;     
    }
    #whoweare .left-left img, #whoweare .left-right img{
        height: auto;
        border-radius: 2rem;
        width: 100% !important;
    }
    #whoweare .small{
        width: 8.4rem;
        height: 2rem;
    }
    #whoweare .left-left .small{
        margin-top: 1.2rem;
    }
    #whoweare .left-right .small{
        margin-bottom: 1.2rem;
    } 

    #whoweare h2.desktop{
        display: none !important;
    }
    #whoweare h2.mobile{
        display: block;
        text-align: center;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        font-size: 1.5rem;
        padding-bottom: 2rem !important;
    }
    #whoweare .tester{
        gap: 0;
    }

    /* OUR BUSINESS */
    #ourbusiness div div{
        border: 0.5px solid #bbb;
        border-radius: 13.35px;
        margin: 23px;
        padding-bottom: 24px;
    }
    #ourteam div div img{
        border-radius: 13.35px 13.35px 0 0;
    }
    #ourteam div div div{
        border-radius: 0 0 13.35px 13.35px;
    }
    #ourbusiness h2{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    #ourbusiness h2, #ourbusiness p:nth-child(2){
        width: 640px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
        border: none !important;
    }
    #ourbusiness p:nth-child(2){
        margin-block: 24px 64px;
        width: 100%;
        text-align: center !important;
    }
    #ourbusiness div div a{
        margin-top: 1rem !important;
        font-size: var(--text-font-size);
        border: none !important;
        padding-inline: 1rem;
        color: var(--smashtech-color);
    }
    #ourbusiness img{
        height: 196px;
    }
      
    #ourbusiness div, #ourteam div{
        gap: 32px !important;
    }
    #ourbusiness div div, #ourteam div div{
        width: 100% !important;
        margin: 0 !important;
    }

    /* TEAM */
    h3.team{
        line-height: 3.5rem;
    }

    /* MISSION/VISION */
    h2.missionvision{
        text-align: center;
        margin-block: 0;
    }
    .mission-desktop, .vision-desktop{
        display: none !important;
    }
    #mission-mobile, #vision-mobile{
        display: block;
        padding: 1rem;
    }
    #mission-mobile > div, #vision-mobile > div{
        display: flex;
        align-items: center;
        /* gap: 2rem */
    }
    
    #mission-mobile p, #vision-mobile p{
        margin: 0;
        margin-bottom: 1.5rem !important;
    }
    #mission-mobile .icon, #vision-mobile .icon{
        color: #020066;
        margin-bottom: 2rem
    }

    /* #missionvision .swipe{
        border: 2px solid #bbb;
    }
    #missionvision .swipe p{
        font-size: 14px;
    }
    #missionvision .swipe img{
        margin-top: 0 !important;
    } */

    /* VALUES */
    .val{
        gap: 0 !important;
        margin-bottom: 4rem;
    }
    .val h3, .val img{
        margin: 0 !important;
        padding: 0 !important;
    }
    .val h3{
        line-height: 2rem !important;
        margin-top: 1.4rem !important;
    }
    .val p{
        font-size: 1rem;
        line-height: 2rem;
    }
    .reverse img{
        order: -1;
    }

    /* PEOPLE */
    
    #about_people h2{
        line-height: 120%;
    }

    #about_people div p{
        max-width: 100% !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .people{
        margin: 0 !important;
        padding: 0 !important;
        padding-bottom: 3rem !important;
    }
    .people div{
        flex-direction: column;
    }
    .people .smashtech-button{
        margin-block: 1rem 2rem !important;
        width: 100%;
        font-size: 1rem;
        padding-block: .8rem;
    }
    .people-h2{
        font-size: 1.8rem !important;
        line-height: 110%;
    }
    .people img{
        height: auto !important;
        width: 100% !important;
        border-radius: 1rem !important;
    }
    
    #ourcorepurpose{
        gap: 0 !important;
        padding: 1rem !important;
    }
    .box{
        gap: 0 !important
    }
    .square img{
        width: 100%; 
        height: 360px;
        border-radius: 100%;
    }
    #ourcorepurpose .num_text{
        gap: 1rem;
        padding-inline: 0 !important;
        padding-bottom: 0 !important;
        width: 100% !important;
        margin: 0 !important;
    }
    #ourcorepurpose .num_text h1{
        border: 2px solid #E5E5EF;
        font-size: 2rem;
        font-weight: 600;
        padding: 0 !important;
        border-radius: 100%;
        width: 5.5rem;
        height: 5.5rem;
        margin: 0 auto !important;
        align-content: center !important;
        text-align: center;
    }
    #ourcorepurpose .num_text h3{
        font-size: 1.5rem;
    }
    #ourcorepurpose .num_text p{
        margin-block: 1rem 2rem;
    }
    #ourcorepurpose .vertical-line {
        display: none;
    }
    .smashtech-button{
        font-size: 95% !important;  
    }
    
    .video-banner {
        height: 17.8rem; 
        background-color: var(--smashtech-deep-grey);
        padding: var(--content-edge);
        padding-block: 4rem;
        overflow: hidden;
        /* margin-top: 7rem !important; */
    }
    .banner-content h1, .banner-content span, .banner_otherpages h1{
        font-size: 2rem;
        line-height: 39px;
    }
    .banner-content h1 small{
        font-size: 24px;
    }
    /* Banner other pages */
    .banner_otherpages{
        height: 17.8rem; 
        background-color: var(--smashtech-deep-grey);
        padding: var(--content-edge) !important;
        padding-bottom: 4rem !important;
        margin-bottom: 0;
        overflow: hidden;
        align-items: end;
        /* margin-top: 7rem !important; */
    }
    .banner_otherpages h1{
        text-align: left;
        width: 100%
        /* align-content: end !important; */
    }

    #about_missionceo p{
        width: 100% !important;
    }
    .ceo-div{
        padding-inline: 1rem;
    }
    .ceo-div p, .ceo-div h2, .ceo-div h3, .ceo-div h4, .ceo-div hr{
        padding: 0 !important;
        margin-inline: 0;
        width: 100%;
    }
    .ceo-div p{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }
    .ceo-div .smashtech-button{
        font-size: 95% !important;
        padding: .7rem 1.5rem;
    }
    
    .tab-container .tabs{      
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 0 ;
        margin: 0;
        gap: 1rem;
    }
    .tab-container .tabs button{
        font-size: 95% !important;
        padding: .7rem 1rem;
        width: 100%;
    }
    #commitment_to_sustainability h2{
        line-height: 120%;
    }
    #commitment_to_sustainability .commitment-quality{
        gap: 0;
        padding: 1rem !important;
    }
    #commitment_to_sustainability .commitment-quality p{
        width: 100% !important;
        margin-block: 1rem 3rem;
    }
    .exceptional-customer{
        width: 100%;
        padding: 0;
    }
    .exceptional-customer .exceptional_cs{
        width: 100%;
    }
    .exceptional-customer h2{
        padding-block: 0 !important;
        margin-block: 0 !important;
        line-height: 110%;
    }
    .exceptional-customer div{
        margin: 0;
    }
    .exceptional-customer img{
        width: 100%;
        height: auto;
        /* border-radius: 30px; */
        margin: 0 !important;
    }

    .small-map{
        width: 100% !important;
    }
    .footer-menu .row > div{
        display: flex;
        gap: 1rem !important;
    }
    .footer-menu .row img{
        width: 5.5rem !important;
        height: auto !important;
    }

    /* Nav new */
    ul.menu{ /* The overall wrapper wrapping the entire menu container */
        height: 90vh;
    }
    .menu-item { /* Inner container wrapping the menu items only */
        position: relative;
        padding: 1.5rem 1.1rem;
    }
    .menu-button{ /* Each menu link e.g. Company */
        background: #fff;
        background-color: red !important;
        cursor: pointer;
        align-items: center;
        font-size: 20px !important;
        color: #393838; 
        display: flex;
        width: 100%;
      }
      
      .menu-button:hover,
      .menu-button.active {
        color: var(--smashtech-color); 
      }
      
      .caret {
        margin-left: 5px;
        transition: transform 0.3s ease;
        font-size: 20px;
      }
      
      .caret.rotate {
        transform: rotate(180deg);
      }
      
      .dropdown {
        position: relative;
        /* top: 100%;
        left: 0; */
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        z-index: 1000;
        display: flex;
        gap: 20px;
        width: 350px;
        padding: 20px;
        flex-direction: column;
        margin-top: 3.1rem;
        background-color: red !important;
      }
      
      .dropdown-angle {
        position: absolute;
        top: -10px;
        left: 20px;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        transform: rotate(45deg);
        box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.05);
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
      }
      .dropdown-content {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
      }
      
      .dropdown-content ul {
        list-style: none;
        flex: 2;
        padding: 0;
      }
      
      .dropdown-content ul li {
        padding: 8px 0;
      }
      
      .dropdown-content ul li a {
        color: #333;
        font-weight: bold;
        text-decoration: none;
      }
      
      .dropdown-content ul li span {
        display: block;
        color: #666;
        font-size: 14px;
        margin-top: 4px;
      }
}

    /* ================================================= */
    
/* 2. PHONE LANDSCAPE */
@media screen and (min-width: 577px) and (max-width: 767px){
    #whoweare{
        /* background-color: green !important; */
    }
}

/* 3. TABLETS and MEDIUM SCREENS like iPad Pro */
@media screen and (min-width: 768px) and (max-width: 1024px){
    #whoweare{
        /* background-color: orange !important; */
    }
}

/* 4. SMALL LAPTOP SCREENS */
@media screen and (min-width: 1025px) and (max-width: 1206px){
    #whoweare{
        /* background-color: blue !important; */
    }
}

/* 5. NORMAL LAPTOP SCREENS (E.G MY OWN 1366w) UP TO LARGE SCREENS*/
/* FINAL == my laptop at home */
@media screen and (min-width: 1207px) and (max-width: 1500px){
    html{
        font-size: 90%;  /* change for different device sizes */
    }
    .smashtech-button{
        font-size: 95% !important;  
    }
    #ourcorevalues p{
        font-size: 115%;  
    }
    h2{
        font-size: 188%;  
    }
    h3{
        font-size: 145%;  
    }
    .sections{
        padding: var(--content-edge) !important;
        padding-block: 3rem !important;
    }
    nav{
        padding: var(--content-edge) !important;
        padding-block: 0 !important;
    }    
    .menu {
        gap: 2.2rem !important;
      }
    .dropdown{
        margin-top: 2.4rem !important;
    }
    .dropdown a{
        font-size: 12rem !important;
    }
    .dropdown {
        padding-block: .4rem !important;
    }
    .dropdown-content ul li {
        padding: .3rem 0 !important;
    }
    .dropdown-content ul li a {
        /* background-color: blue !important; */
        font-size: 1.05rem !important;
        font-weight: normal !important;
    }
    button.menu-button, #careers{
        font-size: 110% !important;
        margin: 0 !important;
        padding: 0 !important;
        gap: 0 !important;
        display: flex;
    }
    .banner_otherpages h1 {
        font-size: 6.6rem;
    }
    
    .ceo-div .smashtech-button{
        font-size: 1rem !important;
        padding: .7rem 1.45rem !important;
    }
    #whoweare{
        /* background-color: pink !important; */
    }
    #whoweare .tester{        
        gap: 2.5rem !important
    }
}

/* FINAL == CEO's, Chris', Val's Laptops */
@media screen and (min-width: 1501px) and (max-width: 1900px){
    html{
        font-size: 90%;  /* change for different device sizes */
    }
    .smashtech-button{
        font-size: 95% !important;  
    }
    #ourcorevalues p{
        font-size: 115%;  
    }
    h2{
        font-size: 188%;  
    }
    h3{
        font-size: 145%;  
    }
    .sections{
        padding: var(--content-edge) !important;
        padding-block: 3rem !important;
    }
    nav{
        padding: var(--content-edge) !important;
        padding-block: 0 !important;
    }    
    .menu {
        gap: 2.2rem !important;
      }
    .dropdown{
        margin-top: 2.4rem !important;
    }
    .dropdown a{
        font-size: 12rem !important;
    }
    .dropdown {
        padding-block: .4rem !important;
    }
    .dropdown-content ul li {
        padding: .3rem 0 !important;
    }
    .dropdown-content ul li a {
        /* background-color: blue !important; */
        font-size: 1.05rem !important;
        font-weight: normal !important;
    }
    button.menu-button, #careers{
        font-size: 110% !important;
        margin: 0 !important;
        padding: 0 !important;
        gap: 0 !important;
        display: flex;
    }
    .banner_otherpages h1 {
        font-size: 6.6rem;
    }
    
    .ceo-div .smashtech-button{
        font-size: 1rem !important;
        padding: .7rem 1.45rem !important;
    }
    #whoweare{
        /* background-color: pink !important; */
    }
    #whoweare .tester{        
        gap: 2.5rem !important
    }
}
/* Val and CEO == 1920w */

/* 6. My office system w1920 */
/* FINAL == My office laptop */
@media screen and (min-width: 1901px){
    #whoweare{
        /* background-color: #222 !important; */
    }
}














    
    

   
    /* BANNER */
    /* .video-banner{
        width: 100%;
        padding-inline: 24px !important;
    }    
    .banner-content{
        margin-top: auto;
        position: relative;
        text-align: center;
        z-index: 1; 
    }
    .banner-content h1, .banner-content span{
        font-size: 32px;
        margin: 0;
        color: white;
        font-weight: 600;
        text-align: left;
        line-height: 39px;
    }
    .banner-content h1 small{
        font-size: 24px;
    }
    .banner-content span{
        color: var(--smashtech-color);
    } */

    /* #whoweare{
        width: 100%;
        margin: 0;
        padding: 0; 
    }
    #whoweare .splash{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        gap: 1rem;
    }
    #whoweare > div{
        gap: 0 !important;
        padding-bottom: 48px !important;
    }
    #whoweare > div > div:nth-child(2){
        margin-top: 0 !important;
        width: 100% !important;
    }
    #whoweare h2.desktop{
        display: none;
    }
    #whoweare h2.mobile{
        display: block;
        text-align: center;
        margin: 0;
        margin-block: 32px !important;
        width: 100%;
        font-size: 24px;
    }
    #whoweare span{
        font-weight: bold;
        font-size: calc(var(--text-font-size) * 1.25);
    }
    .splash > div:nth-child(1) .line-container{
        margin-left: auto;
        margin-right: 0
    }
    .small-container{
        background-color: var(--smashtech-deep-grey);
        border-radius: 30px;
        width: 100%;
        height: 200px;
        margin-block: 17px;
    }
    .line-container{
        background-color: #F8A580;
        border-radius: 50px;
        width: 70%;
        height: 32px;
    }
    .line-container:nth-child(1){
        background-color: #807FB2
    } */

    /*
    
    #ourteam h3{
        font-size: 21px;
        padding: 0;
        font-weight: 600;
        margin-block: 0 10px !important;
    }
    #ourbusiness p, #ourteam p{
        font-size: 16px;
        line-height: 19px;
        margin: 0;
        text-align: left !important;
    }
    */
    
    /* The bottom div for each flex item */
    /*
    #ourteam div div div{ 
        padding-inline: 12.18px;
        width: 100%;
        margin-top: 0;
    }
    #ourteam div div a{
        font-size: calc(var(--text-font-size) * 1.1);
        border: none !important;
        color: var(--smashtech-color);
    }
    #ourbusiness div div a{
        font-size: calc(var(--text-font-size) * 1.1);
    }

    
    .footer{
        width: 100% !important;
        margin: 0;
        padding: 0; 
    }
    .footer iframe{
        width: 100% !important;
        margin: 0;
        padding: 0; 
    } */

/* ================================== */